ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
}
nav{
    background-color: grey;
}
ul li{
    list-style: none;  
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: column;
}

