ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
}
nav{
    background-color: grey;
}
ul li{
    list-style: none;  
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: column;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: steelblue;
    flex-flow: column;
}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    flex-flow: column;
    padding: 8px;
    margin: 3px;
    background-color: rgb(60, 60, 153);
    width: 15vw;
    height: 40vh;
    box-shadow: 2px 3px 8px black;
}

label{
    font-size: larger;
    color: white;
    font-weight: bold;
}
button{
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
   
}
.halum{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}